tensorflow==2.15.0
tf-keras==2.15.0
numpy==1.26.4
opencv-python==4.8.0.76
pandas>=1.5.0
streamlit>=1.28.0
streamlit-drawable-canvas>=0.9.3
scikit-learn>=1.2.0
matplotlib>=3.6.0
seaborn>=0.12.0
h5py>=3.8.0
